/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.search-form {
  margin: 20px 0px;
}

#sortLinks {
  margin: 20px 0px;
}

.links {
  width: 100%;
}

#search-link {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 80%
}

.link-buttons {
  padding-right: 0px;
  width: 35%;
  margin-bottom: 20px;
}

.search {
  margin-right: 5px;
}
.read {
  background-color: rgb(228, 227, 225);
}

.sign-out {
  text-align: right;
  margin-top: 6px;
  margin-right: 23px;
}

.navbar-left {
  margin-left: 10px;
  margin-top: 12px;
}
.navbar {
  margin: 5px 0 40px 0;
  width: 100%;
}

.new-link {
  margin-top: 40px;
  width: 80%;
}

.my-links {
  margin-top: 40px;
}
